.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

img[disabled] {
  pointer-events: none;
}

.memory-card {
  border: 1px solid red;
  width: 33.33%;
  float: left;
}